<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/banner.css">
</head>
<body>
    
   <div class="bannersection swiper">

        <div class="swiper-banner-image swiper-wrapper">

            <div class="image swiper-slide">

                <img src='/image/banner images/img1.webp' alt="">

            </div>

            <div class="image swiper-slide">

                <img src='/image/banner images/img2.webp' alt="">

            </div>

            <div class="image swiper-slide">

                <img src='/image/banner images/img3.webp' alt="">

            </div>

            <div class="image swiper-slide">

                <img src='/image/banner images/img4.webp' alt="">

            </div>

            <div class="image swiper-slide">

                <img src='/image/banner images/img5.webp' alt="">

            </div>

            <div class="image swiper-slide">

                <img src='/image/banner images/img6.webp' alt="">

            </div>

            <div class="image swiper-slide">

                <img src='/image/banner images/img7.webp' alt="">

            </div>

            <div class="image swiper-slide">

                <img src='/image/banner images/img8.webp' alt="">

            </div>
            
        </div>

        <div class="swiper-navigation">
            
            <div class="navigation">

                <div class="swiper-arrow-prev"><i class="fa-solid fa-angle-left"></i></div>
                <div class="swiper-arrow-next"><i class="fa-solid fa-angle-right"></i></div>

            </div>

        </div>

   </div>

   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
   <script src="/js/banner.js"></script>

</body>
</html>