<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dpsimportance.css">
</head>
<body>
    
    <div class="dpsimportancesection">

        <div class="dpsimportainceoverlay">

            <div class="dpsimportanceheading">

                <h2> Explore Why DPS Durgapur is <br> <span>different</span> </h2>

            </div>

            <div class="dpsimportancebutton">

                <button>Campus Tour</button>
                <button>Visit Us</button>
                <button>Apply Now</button>

            </div>

        </div>

    </div>

    <script src="/js/dpsimportance.js"></script>

</body>
</html>