<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    
    <div class="footersection">

        <div class="footeroverlay">

            <div class="contactdetailssection">

                <div class="contactustitle">

                    <h2> Connect <br> With Us </h2>

                </div>

                <div class="contactdetails">

                    <div class="contactdetailsbox">

                        <div class="details1">

                            <i class="fa-solid fa-envelope"></i>
                            <a href="#"> info@dpsdurgapur.com </a>

                        </div>

                        <div class="details2">

                            <i class="fa-solid fa-graduation-cap"></i>
                            <a href="#"> Career Opportunities </a>

                        </div>

                    </div>
                    <div class="contactdetailsbox">

                        <div class="details1">

                            <i class="fa-solid fa-mobile-screen"></i>
                            <a href="#">+919007795297</a>
                            <a href="#">+919681500600</a>

                        </div>

                        <div class="details2">

                            <i class="fa-brands fa-facebook-f"></i>
                            <a href="#">facebook.com/dpsdurgapur</a>

                        </div>

                    </div>
                    <div class="contactdetailsbox">

                        <div class="details1">

                            <i class="fa-solid fa-phone"></i>
                            <a href="#">+913436604402</a>

                        </div>

                        <div class="details2">

                            <i class="fa-solid fa-hourglass-half"></i>
                            <a href="#">Visiting Hours</a>

                        </div>

                    </div>

                </div>

            </div>

            <div class="copyrightsection">

                <p>© <span></span> Delhi Public School Durgapur. <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a> | <a href="#">Mandatory Public Disclosure</a></p>

            </div>

        </div>

    </div>

    <script>

        let dateSection = document.querySelector(".copyrightsection p span");
        let date = new Date().getFullYear();

        dateSection.innerHTML = `${date}`;

    </script>

</body>
</html>