<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300.. 800&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
    
    <header>

        <div class="socialiconsection">

            <div class="details">

                <i class="fa-regular fa-envelope"></i>
                <p><a href="mailto:info@dpsdurgapur.com"></a>info@dpsdurgapur.com</p>

                <i><i class="fa-solid fa-phone"></i></i>
                <p>+919007795297</p>

            </div>

            <div class="socialicons">

                <ul>

                    <li><a href="#" id="p01"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#" id="p02"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#" id="p03"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#" id="p04"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><button> English </button></li>

                </ul>

            </div>

        </div>

        <div class="collegelogo">

            <a href="/">
                
                <img src="/image/png logos/img7_logo.png" alt="college logo">
                
            </a>
            

        </div>

        <div class="menusection">

            <div class="collegesublogo">

                <a href="/">

                    <img src="/image/png logos/img8_logo_small.png" alt="college logo title">

                </a>

            </div>

            <div class="firstmenu">

                <ul>

                    <li><span>THE</span><br> SCHOOL
                    
                        <div class="submenu">

                            <div class="menuimg">

                                <img src="/image/campus images/img10_menu_img.webp"" alt="">

                            </div>
                            
                            <div class="menucontent">

                                <div class="menucontentheading">

                                    <h2> <span>The</span> School </h2>

                                </div>

                                <div class="menucontenttable">

                                    <table>

                                        <tbody>

                                            <tr>

                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Infrastructure</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>From The Principal’s Desk</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Decorums to Follow</a></p></td>

                                            </tr>

                                            <tr>

                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>School Rules</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>School Uniform</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>School Prayer</a></p></td>

                                            </tr>

                                            <tr>

                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Campus Tour</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>CBSE Circulars</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Our Promise and Values</a></p></td>

                                            </tr>

                                            <tr>

                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Our Approach</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>School Activities</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Events</a></p></td>

                                            </tr>

                                            <tr>

                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Gallery</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Career Corner</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Newsletter</a></p></td>

                                            </tr>

                                            <tr>

                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Jobs</a></p></td>
                                                <td><p><a href="#"><i class="fa-solid fa-location-arrow"></i>Society</a></p></td>

                                            </tr>

                                        </tbody>

                                    </table>

                                </div>

                            </div>

                            <div class="menucontact">

                                <div class="contactbox">

                                    <div class="contact">

                                        <button> Apply Now </button>

                                    </div>
                                    <div class="divider">

                                        <span>or</span>

                                    </div>
                                    <div class="contact">

                                        <i class="fa-solid fa-phone"></i>
                                        <p>+91 343 6604402</p>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </li>
                    <li><span>SCHOOL</span><br>ACADEMICS</li>
                    <li><span>SCHOOL</span><br>ADMISSION</li>
                    <li><span>FOR</span><br>STUDENT</li>

                </ul>

            </div>

            <div class="secondmenu">

                <ul>

                    <li><span>FOR</span><br> PARENTS </li>
                    <li><span>STUDENT</span><br>ACTIVITIES</li>
                    <li><span>HOSTEL &</span><br>TRANSPORT</li>
                    <li><span>CONTACT</span><br>INFORMATION</li>

                </ul>

            </div>

        </div>

    </header>

    <script src="/js/header.js"></script>

</body>
</html>