<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/newsandevent.css">
</head>
<body>
    
    <div class="newsandeventsection">

        <div class="newsandeventbox">

            <img src="/image/news and event images/img28_bus_service_t.webp" alt="">

        </div>
        <div class="newsandeventbox">

            <div class="newsheading">

                <i class="fa-regular fa-calendar-days"></i>
                <p>RECENT UPDATES</p>

            </div>

            <div class="newsscroller">
    
                <ul>

                    <li>

                        <div class="newsdate">

                            <p> 14 </p>
                            <p> JUL </p>

                        </div>
                        <div class="newscontent">

                            <p> Admission open for session 2026-27</p>

                        </div>

                    </li>

                    <li>

                        <div class="newsdate">

                            <p> 28 </p>
                            <p> JAN </p>

                        </div>
                        <div class="newscontent">

                            <p> Scholarship for deserving candidates for Class XI -call 9681500600 </p>

                        </div>

                    </li>

                    <li>

                        <div class="newsdate">

                            <p> 24 </p>
                            <p> OCT </p>

                        </div>
                        <div class="newscontent">

                            <p> Sibling discounts available call 9681500600 </p>

                        </div>

                    </li>

                    <li>

                        <div class="newsdate">

                            <p> 24 </p>
                            <p> OCT </p>

                        </div>
                        <div class="newscontent">

                            <p> National Winner in Inter DPS Solo & Group Music Competition. </p>

                        </div>

                    </li>

                </ul>

            </div>

        </div>

        <div class="newsandeventbox">

            <div class="campusvideoheading">

                <div class="videoheading1">

                    <i class="fa-solid fa-video"></i>
                    <h3> WATCH THIS VIDEO </h3>

                </div>

                <div class="videoheading2">

                    <i class="fa-solid fa-angles-down"></i>

                </div>

            </div>

            <div class="campusvideosection">

                <img src="/image/news and event images/img32_home_video_thumb.webp" alt="campus image">

                <div class="campusvideopopup">

                    <div class="videoheader">

                        <div class="textlogo">

                            <i class="fa-solid fa-left-long"></i>
                            <p>DPS</p>

                        </div>
                        <div class="mainlogo">

                            <img src="/image/png logos/img7_logo.png" alt="">

                        </div>

                    </div>

                    <div class="mainvideo">

                        <div class="videobox">

                            <iframe width="100%" height="100%"
                                src="https://www.youtube.com/embed/bqMgdBK1fC0?start=30&autoplay=1&loop=1&playlist=bqMgdBK1fC0&mute=1"
                                allow="autoplay"
                                
                                allowfullscreen>
                            </iframe>

                            <i class="fa-solid fa-xmark"></i>

                        </div>

                    </div>

                </div>

            </div>

        </div>        

    </div>

    <script src="/js/newsandevent.js"></script>

</body>
</html>