<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/personaltour.css">
</head>
<body>
    
    <div class="personaltoursection">

        <div class="bigcontent">

            <div class="first">

                <i class="fa-solid fa-street-view"></i>
                <h2> SCHEDULE A PERSONAL TOUR. </h2>

            </div>

            <p>Schedule a personal tour of DPS Durgapur campus on a day that works for you. Our team makes it easy.</p>

        </div>

        <div class="smallcontent">

            <a href="#">

                Schedule <br> Now  <br>
                <i class="fa-solid fa-right-long"></i>

            </a>

        </div>

    </div>

    <script src="/js/personaltour.js"></script>

</body>
</html>