<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/pgnwi.css"> 
</head>
<body>
    
    <div class="pgnwisection">

        <div class="pgnwibox">

            <img src="/image/svg logos/img43_svg_3E_0A.svg" alt="prospectus icon">
            <p>PROSPECTUS</p>

        </div>
        <div class="pgnwibox">

            <img src="/image/svg logos/img44_svg_3E_0A.svg" alt="gallery icon">
            <p>GALLERY</p>

        </div>
        <div class="pgnwibox">

            <img src="/image/svg logos/img45_svg_3E_0A.svg" alt="newsletter icon">
            <p>NEWSLETTER</p>
            
        </div>
        <div class="pgnwibox">

            <img src="/image/svg logos/img46_svg_3E_0A.svg" alt="workshop icon">
            <p>WORKSHOPS</p>

        </div>
        <div class="pgnwibox">

            <img src="/image/svg logos/img47_svg_3E_0A.svg" alt="news icon">
            <p>IN THE NEWS</p>

        </div>

    </div>

    <script src="/js/pgnwi.js"></script>

</body>
</html>