<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/welcomesection.css">
</head>
<body>
    
    <div class="welcomesection">

        <div class="welcomesection1">

            <div class="welcomecontent">

                <h2> Welcome To <br> <span>DPS DURGAPUR</span></h2><br><br>
                <p>Delhi Public School – Durgapur, an OmDayal Group initiative affiliated to Central Board of Secondary Education (CBSE), offers Science and Commerce streams till the senior secondary level. It is a premiere school at Durgapur, with world class infrastructure and top-notch facilities.</p>

            </div>

            <div class="missionsection">

                <div class="missionbox missonbox1">

                    <i class="fa-solid fa-bullseye"></i>
                    <p> Misson & Vision </p>

                </div>

                <div class="missionbox missonbox2">

                    <i class="fa-solid fa-landmark"></i>
                    <p> Society </p>

                </div>

                <div class="missionbox missonbox3">

                    <i class="fa-solid fa-location-crosshairs"></i>
                    <p> Location </p>

                </div>

                <div class="missionbox missonbox4">

                    <i class="fa-solid fa-earth-asia"></i>
                    <p> Campus Tour </p>

                </div>

            </div>

        </div>

        <div class="welcomesection2">

            <div class="formbox">

                <div class="formheading">

                    <i class="fa-solid fa-user-group"></i>
                    <p> Apply Now </p>

                </div>

                <div class="form">

                    <span> All fields are required </span><br>
                    
                    <form>

                        <input type="text" placeholder="Child Name" name="childname" required><br>
                        <input type="text" placeholder="Parent Name" name="parentname" required><br>
                        <input type="email" placeholder="Email" name="email" required><br>
                        <input type="tel" placeholder="10 Digit Mobile Number" required><br>
                        <input type="text" placeholder="City" required><br>
                        <select name="class" id="classname">

                            <option value="Select Class"> Select Class </option>
                            <option value="Nursery I"> Nursery I </option>
                            <option value="Nursery II"> Nursery II </option>
                            <option value="LKG"> LKG </option>
                            <option value="UKG"> UKG </option>
                            <option value="I"> I </option>
                            <option value="II"> II </option>
                            <option value="III"> III </option>
                            <option value="IV"> IV </option>
                            <option value="V"> V </option>
                            <option value="VI"> VI </option>
                            <option value="VII"> VII </option>
                            <option value="VIII"> VIII </option>
                            <option value="IX"> IX </option>
                            <option value="X"> X </option>
                            <option value="XI"> XI</option>
                            <option value="XII"> XII </option>

                        </select><br>

                        <button type="submit"> Apply </button>

                    </form>

                </div>

            </div>

        </div>

    </div>
    
    <script src="/js/welcomesection.js"></script>

</body>
</html>