*{

    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

}

header{

    height: 10rem;
    width: 100%;
    box-shadow: 2px 2px 10px #2929294b;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999999999;

}

header > .socialiconsection{

    width: 100%;
    height: 40%;

}

header > .socialiconsection{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.socialiconsection > .details{

    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;

}

.details > i {

    margin-left: 40px;
    border: 1px solid #292929;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;

}

.details > p{

    cursor: pointer;

}

.socialiconsection > .socialicons{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.socialicons > ul{

    display: flex;
    gap: 30px;
    padding-right: 20px;
    list-style-type: none;

}

.socialicons ul li #p01 > i{

    font-size: 15px;
    border: 1px solid blue;
    width: 20px;
    height: 20px;;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    color: blue;
    position: relative;
    overflow: hidden;

}

.socialicons ul li #p02 > i {

    font-size: 15px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid red;
    color: red;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.socialicons ul li #p03 > i {

    font-size: 15px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid hotpink;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: hotpink;

}

.socialicons ul li #p04 > i {

    font-size: 15px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.socialicons ul li > button{

    width: 100px;
    height: 2rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

header > .menusection{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

header .menusection > .collegesublogo img{

    height: 50px;
    object-fit: cover;
    margin-left: 20px;

}

header .menusection > .firstmenu{

    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;

}

.firstmenu > ul {

    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 70px;
    padding-left: 70px;

}

.firstmenu ul > li{

    font-size: 15px;
    font-weight: bolder;
    position: relative;
    cursor: pointer;
    font-weight: 900;

}

.firstmenu ul li > .submenu{

    position: absolute;
    top: 160%;
    left: -20%;
    width: 92vw;
    height: 50vh;
    background-color: #FFECC9;
    box-shadow: 10px 10px 0px rgb(98, 147, 0);
    z-index: -2;
    display: flex;
    overflow: hidden;

}

.submenu > .menuimg{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px dashed orange;

}

.menuimg > img{

    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 2px solid #fff

}

.submenu > .menucontent{

    width: 60%;
    height: 100%;
    border-right: 2px dashed orange;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menucontent > .menucontentheading{

    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;

}

.menucontentheading > h2{

    padding-left: 50px;
    position: relative;

}

.menucontentheading > h2::before{

    position: absolute;
    top: 30px;
    left: 55px;
    height: 3px;
    width: 0%;
    content: "";
    background-color: yellowgreen;
    transition: all 0.8s ease;

}

.menucontentheading > h2:hover::before{

    width: 100%;

}

.menucontentheading h2 > span{

    color: green;

}

.menucontent > .menucontenttable{

    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menucontenttable > table{

    width: 90%;
    border-collapse: collapse;

}

.menucontent > table, td{

    border-bottom: 1px solid rgba(128, 128, 128, 0.296);
    padding: 7px 0px;

}

.menucontent table tbody tr td p > a{

    text-decoration: none;
    font-weight: 100;
    color: #292929;
    font-size: 14px;
    display: inline-flex;

}  

.menucontent table tbody tr td p a > i{

    color: green;

}

.submenu > .menucontact{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menucontact > .contactbox{

    width: 250px;
    height: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

}

.contactbox > .contact{

    width: 100%;
    height:38%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contactbox > .contact:nth-child(3){

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.contactbox .contact:nth-child(3) > i{

    color: orange;
    margin-top: 5px;
    font-size: 20px;

}

.contactbox .contact:nth-child(3) > p{

    font-size: 15px;
    color: green;

}

.contactbox .contact > button{

    width: 150px;
    height: 40px;
    background-color: green;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border: 2px solid green;
    transition:  all 0.8s ease;
    z-index: 99999999;

}

.contact > button:hover{

    color: #fff;
    border: none;

}

.contact > button::before{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    content: "";
    background-color: orange;
    z-index: -2;
    transition:  all 0.8s ease;

}

.contact > button:hover::before{

    height: 100%;

}

.contactbox > .divider{

    width: 100%;
    height: 24%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider > span{

    font-size: 25px;
    position: relative;
    color: green;

}

.divider > span::before{

   position: absolute; 
   top: 20px;
   left: -80px;
   height: 2px;
   width: 250%;
   background-color: orange;
   content: "";

}

.divider > span::after{

    position: absolute;
    top: 20px;
    right: -300%;
    height: 2px;
    width: 250%;
    background-color: orange;
    content: "";

}

.firstmenu ul > li::before{

    position: absolute;
    right: -50px;
    width: 0.01px;
    height: 100%;
    border: 1px dotted green;
    content: "";

}

.firstmenu ul > li:nth-child(4)::before{

    border: none;

}

.firstmenu ul li > span{

    color: rgb(98, 153, 68);

}

header .menusection > .secondmenu{

    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;

} 

.secondmenu > ul {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    gap: 70px;
    padding-right: 50px;

}

.secondmenu ul>li {

    font-size: 15px;
    font-weight: bolder;
    position: relative;
    cursor: pointer;
    font-weight: 900;

}

.secondmenu ul>li::before {

    position: absolute;
    right: -50px;
    width: 0.01px;
    height: 100%;
    border: 1px dotted green;
    content: "";

}

.secondmenu ul>li:nth-child(4):before {

    border: none;

}

.secondmenu ul li>span {

    color: rgb(98, 153, 68);

}

header > .collegelogo a img{

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    width: 190px;
    height: 190px;
    object-fit: contain;

}