*{

    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

}

header{

    height: 10rem;
    width: 100%;
    box-shadow: 2px 2px 10px #2929294b;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999999999;

}

header > .socialiconsection{

    width: 100%;
    height: 40%;

}

header > .socialiconsection{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.socialiconsection > .details{

    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;

}

.details > i {

    margin-left: 40px;
    border: 1px solid #292929;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;

}

.details > p{

    cursor: pointer;

}

.socialiconsection > .socialicons{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.socialicons > ul{

    display: flex;
    gap: 30px;
    padding-right: 20px;
    list-style-type: none;

}

.socialicons ul li #p01 > i{

    font-size: 15px;
    border: 1px solid blue;
    width: 20px;
    height: 20px;;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    color: blue;
    position: relative;
    overflow: hidden;

}

.socialicons ul li #p02 > i {

    font-size: 15px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid red;
    color: red;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.socialicons ul li #p03 > i {

    font-size: 15px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid hotpink;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: hotpink;

}

.socialicons ul li #p04 > i {

    font-size: 15px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.socialicons ul li > select{

    width: 100px;
    height: 2rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    outline: none;

}

.searchboxback{

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    z-index: 9999999999999999;

}

.searchboxback > .searchbox{

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    height: 100vh;
    width: 40%;

}

.searchboxback .searchbox > .searchheader{

    width: 100%;
    height: 10%;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.searchheader > .seachnvigation{

    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.seachnvigation > i{

    margin-right: 20px;
    color: yellowgreen;
    font-size: 25px;
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-top: 5px;
    cursor: pointer;

}

.seachnvigation > span{

    display: inline-flex;
    font-size: 20px;
    font-weight: 900;
    height: 100%;
    align-items: center;
    margin-left: -10px;

}

.searchheader > .searchcollegelogo{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.searchcollegelogo > img{

    width: 35px;
    height: 35px;
    object-fit: contain;
    padding-right: 20px;

}

.searchbox > .searchinputbox{

    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.searchinputbox > .searchpara{

    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;

}

.searchpara > p{

    padding-left: 20px;

}

.searchinputbox > .searchinput{

    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;

}

.searchinput > input{

    margin-left: 20px;
    width: 440px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: 1px solid grey;

}

.searchinput > input::placeholder{

    font-size: 15px;
    color: gray;

}

.searchinput > button{

    width: 100px;
    height: 40px;
    background-color: yellowgreen;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

}

.searchbox > .popularpages{

    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.popularpages > .popularpageheading{

    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;

}

.popularpageheading > h3{

    padding-left: 20px;
    font-size: 25px;

}

.popularpageheading h3 > span{

    color: green;
    position: relative;

}

.popularpageheading h3 > span::before{

    position: absolute;
    top: 35px;
    right: 0;
    height: 3px;
    background-color: green;
    content:  "";
    width: 120%;


}

.popularpages > .popularpagesname{

    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;

}

.popularpagesname > ul {

    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

}

.popularpagesname ul li {

    padding: 20px 0px;
    border-bottom: 2px dotted green;

}

.popularpagesname ul li > a{

    text-decoration: none;
    color: #292929;

}

.popularpagesname ul li > a:hover{

    color: green;

}

.popularpagesname ul li a > i{

    transition: all 0.8s ease;
    opacity: 0;
    margin-right: -10px;

}

.popularpagesname ul li a:hover > i{

    transform:  rotate(45deg);
    margin-right: 10px;
    opacity: 1;

}

header > .menusection{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

header .menusection > .collegesublogo img{

    height: 50px;
    object-fit: cover;
    margin-left: 20px;

}

header .menusection > .firstmenu{

    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;

}

.firstmenu > ul {

    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 70px;

}

.firstmenu ul > li{

    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    font-weight: 900;
    border-right: 2px dotted green;
    margin-right: 30px;
    width: 18%;

}

.firstmenu ul li > .submenu{

    position: absolute;
    top: 100%;
    left: 7%;
    width: 92vw;
    height: 50vh;
    background-color: #FFECC9;
    box-shadow: 10px 10px 0px rgb(98, 147, 0);
    z-index: -2;
    display: flex;
    overflow: hidden;

}

.submenu > .menuimg{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px dashed orange;

}

.menuimg > img{

    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 2px solid #fff

}

.submenu > .menucontent{

    width: 60%;
    height: 100%;
    border-right: 2px dashed orange;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menucontent > .menucontentheading{

    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

}

.menucontentheading > h2{

    padding-left: 50px;
    position: relative;

}

.menucontentheading > h2::before{

    position: absolute;
    top: 30px;
    left: 55px;
    height: 3px;
    width: 0%;
    content: "";
    background-color: yellowgreen;
    transition: all 0.8s ease;

}

.menucontentheading > h2:hover::before{

    width: 100%;

}

.menucontentheading h2 > span{

    color: green;

}

.menucontent > .menucontenttable{

    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.menucontenttable > table{

    width: 90%;
    border-collapse: collapse;

}

.menucontent > table, td{

    border-bottom: 1px solid rgba(128, 128, 128, 0.296);
    padding: 7px 0px;

}

.menucontent table tbody tr td p > a{

    text-decoration: none;
    font-weight: 100;
    color: #292929;
    font-size: 14px;
    display: inline-flex;

}  

.menucontent table tbody tr td p a > i{

    color: green;

}

.submenu > .menucontact{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.menucontact > .contactbox{

    width: 250px;
    height: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

}

.contactbox > .contact{

    width: 100%;
    height:38%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contactbox > .contact:nth-child(3){

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.contactbox .contact:nth-child(3) > i{

    color: orange;
    margin-top: 5px;
    font-size: 20px;

}

.contactbox .contact:nth-child(3) > p{

    font-size: 20px;
    color: green;

}

.contactbox .contact > button{

    width: 150px;
    height: 40px;
    background-color: green;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    border: 2px solid green;
    transition:  all 0.8s ease;
    z-index: 99999999;

}

.contact > button:hover{

    color: #fff;
    border: none;

}

.contact > button::before{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    content: "";
    background-color: orange;
    z-index: -2;
    transition:  all 0.8s ease;

}

.contact > button:hover::before{

    height: 100%;

}

.contactbox > .divider{

    width: 100%;
    height: 24%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider > span{

    font-size: 25px;
    position: relative;
    color: green;

}

.divider > span::before{

   position: absolute; 
   top: 20px;
   left: -100px;
   height: 3px;
   width: 300%;
   background-color: orange;
   content: "";

}

.divider > span::after{

    position: absolute;
    top: 20px;
    right: -360%;
    height: 3px;
    width: 300%;
    background-color: orange;
    content: "";

}

.firstmenu ul > li:nth-child(4){

    border-right: none;

}

.firstmenu ul li > span{

    color: rgb(98, 153, 68);

}

header .menusection > .secondmenu{

    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;

} 

.secondmenu > ul {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;

}

.secondmenu ul>li {

    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    font-weight: 900;
    border-right: 2px dotted green;
    margin-right: 25px;
    width: 18%;

}

.secondmenu ul>li:nth-child(4) {

    border-right: none;

}

.secondmenu ul li>span {

    color: rgb(98, 153, 68);

}

.secondmenu ul li > .secondsubmenu{

    position: absolute;
    top: 100%;
    right: 7%;
    z-index: -2;
    width: 92vw;
    height: 50vh;
    background-color: #FFECC9;
    box-shadow: 10px 10px 0px rgb(98, 147, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}

.secondsubmenu > .secondsubmenuimgbox{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px dashed orange;
    overflow: hidden;

}

.secondsubmenuimgbox > img{

    width: 250px;
    height: 250px;
    object-fit: cover;

}

.secondsubmenu > .secondsubmenucontent{

    width: 60%;
    height: 100%;

}

.secondsubmenucontent > .secondsubmenucontentheading{

    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

}

.secondsubmenucontentheading > h2{

    padding-left: 50px;
    position: relative;

}

.secondsubmenucontentheading > h2::before{

    position: absolute;
    top: 25px;
    left: 50px;
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgba(0, 128, 0, 0.4);
    transition: all 0.8s ease;

}

.secondsubmenucontentheading > h2:hover::before{

    width: 100%;

}

.secondsubmenucontentheading h2 > span {

    color: green;

}

.secondsubmenucontent > .secondsubmenucontentlist{

    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.secondsubmenucontentlist > .innermenuitem{

    width: 90%;
    padding-top: 20px;

}

.innermenuitem > table{

    width: 100%;
    border-collapse: collapse;

}

.innermenuitem table tbody tr > td{

    padding-bottom: 5px;

}

.innermenuitem table tbody tr td > a{

    color: #292929;
    text-decoration: none;
    display: inline-flex;
    transition: all 0.8s ease;
    font-weight: 100;
    font-size: 15px;

}

.innermenuitem table tbody tr td > i{

    margin-right: 0px;
    transition: all 0.8s ease;
    opacity: 0;

}

.innermenuitem table tbody tr td > a:hover{

    color: green;

}

.innermenuitem table tbody tr td:hover > i{

    opacity: 1;
    margin-right: 5px;
    color: green;
    transform: rotate(45deg);

}

.secondsubmenu > .secondsubmenuapplysection{

    width: 20%;
    height: 100%;
    border-left: 2px dashed orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.secondsubmenuapplysection > .contactbox{

    background-color: #fff;
    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contactbox > .buttondiv{

    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttondiv > button{

    width: 150px;
    height: 40px;
    background-color: green;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 99999999;

}

.buttondiv > button:hover{

    color: #fff;

}

.buttondiv > button::before{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: orange;
    content: "";
    transition: all 0.8s ease;
    z-index: -2;

}

.buttondiv > button:hover::before{

    height: 100%;;

}

.buttondiv button > a{

    color: #fff;
    font-size: 20px;
    text-decoration: none;

}

.contactbox > .divider{

    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.divider > p{

    font-size: 25px;
    color: green;
    position: relative;

}

.divider > p::before{

    position: absolute;
    top: 20px;
    left: -100px;
    content: "";
    background-color: orange;
    width: 80px;
    height: 3px;

}

.divider > p::after{

    position: absolute;
    top: 20px;
    right: -100px;
    content: "";
    background-color: orange;
    width: 80px;
    height: 3px;

}

.contactbox > .contactdiv{

    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactdiv > p{

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: green;

}

.contactdiv p > i{

    color: orange;

}

header > .collegelogo a img{

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    width: 190px;
    height: 190px;
    object-fit: contain;

}